<div class="panel panel-primary">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-md-2 control-label">用户名:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" ng-model="user.name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">密码:</label>
						<div class="col-md-10">
							<input type="password" class="form-control" placeholder="请至少输入6位字符" ng-model="user password"/>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-click="login()">登录</button>
						<button class="btn btn-default" ng-click="register()">注册</button>
						<div ng-show="err" ng-bind="err"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>